<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" *ngFor = "let i of product.products">
                    <div class="card">
                        <!-- <img height="300px" width="200px" src="{{i.images}} " class="card-img-top" alt="..."> -->
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="{{i.images[0]}} " class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="{{i.images[1]}} " class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="{{i.images[2]}} " class="d-block w-100" alt="...">
                              </div>
                            </div>
                    
                          </div>
                        <div class="card-body">
                          <h5 class="card-title">{{i.title}} </h5>
                          <p class="card-text">{{i.description}} </p>
                          <p class="card-text">Price : {{i.price}} </p>
                          <p class="card-text">Discpunt Percentage : {{i.discountPercentage}} </p>
                          <p class="card-text">Brand : {{i.brand}} </p>
                          <p class="card-text">Category : {{i.category}} </p>                          
                          <p class="card-text">Rating : {{i.rating}} </p>
    

                          <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                      </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
