<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" *ngFor = "let i of user.users">
                    <div class="card">
                        <img height="300px"  src="{{i.image}} " class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.firstName}} {{i.lastName}} </h5>
                          <p class="card-text">Email_Id : {{i.email}} </p>
                          <p class="card-text">Age : {{i.age}} </p>
                          <p class="card-text">Gender : {{i.gender}} </p>
                          <p class="card-text">Phone Number : {{i.phone}} </p>
                          <p class="card-text">Username : {{i.username}} </p>
                          <p class="card-text">Blood Group : {{i.bloodGroup}} </p>
                        
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                
            </div>
        </div>
    </div>
</div>