
<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>To Do</td>
                                <td>Completed</td>
                                <td>User Id</td>
                                
                            </tr>
                        </thead>
                       
                        <tr *ngFor = "let i of todo.todos">
                            <td>{{i.todo}}</td>
                            <td>{{i.completed}} </td>
                            <td>{{i.userId}} </td>
                            
                        </tr>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
